/* Add CSS styling here */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    max-width: 100%;
    /* border: 1px black solid; */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    background-color:#F5DEB3;
}
header {
    display: flex;
    flex-direction: column;
    background-color:#FFEFD5;
}
header h1 {
    padding: 2% 0% 2% 2%;
    font-size: 3rem;
}
header nav {
    
    width: 100%;
    background-color: #FFEFD5;
}
nav {
    display: flex;
    flex-direction: row;
    padding: 0% 0% 1% 5%;
}
nav a {
    border: solid 2px black;
    background-color: white;
    color: black;
    padding: 5px;
}
nav a:hover {
    background-color: black;
    color: white;
}

.profile {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.profile div {
    width: 48%;
    text-align: justify;
}

#projects .projectimages img {
    max-width: 80%;
    
}
.projectimages {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 5%;
}
.img2 {flex: .66666;}
.img3 {flex: 1.4993;}
.img4 {flex: .56195;}
.img5 {flex: 1.5000;}
.img6 {flex: .74465;}
.img7 {flex: 1.3333;}

.personalmessage {
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-size: 2rem;
    padding: 10%;
}
#button {
    background-color: #708090;
    color: #98FB98;
    font-size: .75rem;
    margin: 1% 60% 1% 0;
    padding: 5px;
}
.button:hover {
    background-color: 
}
.projectimages div h3 {
    text-align: center;
}
.hobbyimages {
    display: flex;
    justify-content: space-evenly;
    margin: 5%;
    text-align: center;
}
.hobbyimages img{
    max-width: 80%;
}
footer {
    text-align: center;
    padding: 5%;
    background-color:#FFEFD5;
}
footer h3 {
    font-size: 20px;
}
#contactme {
    padding: 10px; 
    margin: 5px;
}
.about, #projects, .kyleshobbies{
    display: flex;
    flex-direction: column;
}
/* This section is for tablets */
@media(max-width: 800px){
    .personalmessage {
        display: flex;
        flex-direction: column;
        text-align: justify;
        font-size: 1rem;
        padding: 10%;
    }
    #button {
        background-color: #708090;
        color: #98FB98;
        margin: 2% 60% 2% 0;
        padding: 3px;
    }
}
/* This section is for mobile */
@media(max-width: 500px){
    header {
        display: flex;
        flex-direction: column;
        background-color:#FFEFD5;
        align-items: center;
    }
    header h1 {
        padding: 2% 0% 2% 2%;
        font-size: 3rem;

    }
    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0% 0% 2% 0%;
    }
    #button {
        background-color: #708090;
        color: #98FB98;
        font-size: .75rem;
        margin: 5% 0 0 25%;
        padding: 0;
        order: 2;
        height: 10%;
        width: 50%;
    }
    .profile {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: flex-start;
    }
    .personalmessage {
        font-size: 1rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: stretch;
        padding: 2% 0 0 0;
    }
    .personalmessage h2{
        display: none;
    }
}